<pre>
{{bold}}The answer is: ==ans(5)=={{/bold}}
The equation ==x^2+3== is displayed inline, while ==|x^3== is not.
==5/3== is a fraction.  ==5/`a`== is another one, with a being a variable.
The variable a can be specified with ==`a`== or just ==a==, as long as it's by itself.
The value of the function f at a is ==f(a)== or ==f(`a`)==.
</pre>

<br /><br />

<pre>
{{yadasfd}} jldskjdf {{/CENTER}} {{}}
{{boLD}}bold text{{/bold}}

numerator testing:
==a/b==
==5+a/b==
==5+ a/b==
==5+ -a/b==
=={5+ a}/b==
==(5+ a)/b==
==(1*2)(5+a)/b==

denominator testing:
==a/b==
==a/5+b==
==a/b +5==
==a/-b +5==
==a/{b +5}==
==a/(b +5)==
==(5+a)/b(1*2)==

variables:
==a==
==xyz==
==`a`==
==`xyz`==

exponents:
==x^2==
==x**2==

absolute value:
== |52|==
</pre>

<hr>

<h3>Basic Equations</h3>
<div class="h3_section">
  <p>
    Equations are surrounded by double equal signs (==).  If started with a pipe (|), then the equation is displayed in a separate block, rather than inline.
  </p>
  <blockquote>
    ==x+3==<br />
    ==|5x==
  </blockquote>
  <p>
    You may use either two asterisks (**) or the caret (^) to indicate exponents.
  </p>
  <blockquote>
    ==x^2==<br />
    ==x**2==
  </blockquote>
</div>

<h3>Fractions</h3>
<div class="h3_section">
  <p>
    Fractions can most simply be specified with a slash.
  </p>
  <blockquote>
    ==5/3==
  </blockquote>
  <p>
    A space will separate the fraction from surrounding elements, unless explicitly grouped with parenthesis or curly-brackets.
  </p>
  <blockquote>
    ==5+ a/b==<br />
    ==5+ -a/b==<br />
    =={5+ a}/b==<br />
    ==(5+ a)/b==<br />
    ==a/b +5==<br />
    ==a/-b +5==<br />
    ==a/{b +5}==<br />
    ==a/(b +5)==
  </blockquote>
</div>

<h3>Variables</h3>
<div class="h3_section">
  <p>
    Variable names are surrounded by backticks (`).
  </p>
  <blockquote>
    ==`var1`**2==
    =={5+`b`}/2`a`==
  </blockquote>
  <p>
    If there is no ambiguity, you can leave off the backticks.
  </p>
  <blockquote>
    ==var1==
  </blockquote>
</div>

